{% load static %}

{% block jquery %}
var endpoint = '/data'
$.ajax({
    method: 'GET',
    url: endpoint,
    success: function(data){
        console.log(data)
    }
    error: function(error_data){
        console.log(error)
        console.log(data)
    }
})

{% endblock %}

<html>
    <head>
        <title>Peri Web Server</title>
        <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}"/>
    </head>
    <body>
        <div class="sommaire">
            <img class="su" src="static/Sciences_SU.png" />
            <img class="peri" src= "static/peri.png" />
            <H1 class="titre">Bienvenue sur notre server MQTT</H1>
            <ul class="liste">
                <li class="liste_elem">Vous voulez voir la valeur actuelle de notre photoresistance ? <a href="#actualVal">cliquez ici</a></li>
                <li class="liste_elem">Vous voulez voir si la led est allumer ou bien interagir avec ? <a href="#actualLED">cliquez ici</a></li>
                <li class="liste_elem">Vous voulez voir le graphique représentant les valeurs de la photoresistance ? <a href="#graphique">cliquez ici</a></li>
                <li class="liste_elem">Vous voulez voir la base de donnée de toute les valeur de la photoresistance ? <a href="#bdd">cliquez ici</a></li>
            </ul>
        </div>    
        
        <div id="actualVal" class="actualVal">
            <h2 class=section_title>PHOTORESISTANCE</h2>
            <div class="actualVal_content">
                <p class="actualVal_txt">Voici la valeur actuelle de notre photoresistance : </p>
                <p class="actualVal_val">{{value}}</p>
            </div>
        </div>
        
        <div id="actualLED" class="actualLed">
            <h2 class=section_title>LED</h2>
            <div class="actualLED_section">
                <p class="actualLed_txt">Voici la valeur actuelle de la led : </p>
                <p class="actualLed_val">On</p>
            </div>
            <div class="actualLED_section">
                <p class="actualLed_txt">Vous pouvez la modifier en saisissant "on" ou "off" : </p>
                <form class="actualLed_val" method="POST" action="led.py">
                    <input class="input_val" name="val"></input>
                    <input type="submit" value="Entrer">
                  </form>
            </div>
        </div>

        <div id="graphique" class="graphique">
            <h2 class=section_title>GRAPHIQUE</h2>
            <p class="graphique_txt">Voici notre graphique représentant l'évolution des valeurs communiqué par notre photorésistance</p>
            <div class="col-sl-12" url_endpot='/data'></div>
            <div id="chartDiv" style="width:50%; height:300px; margin:0 auto;"></div>
        </div>

        <div id="bdd" class="bdd">
            <h2 class="section_title">BASE DE DONNEE</h2>
            <p class="bdd_txt">Voici un apercu de notre base de donnée</p>
        </div>

    </body>
    
    <script src="https://code.jscharting.com/2.9.0/jscharting.js"></script>
    <script src="static/js/index.js"></script>

    <footer class="footer">
        <p class="footer_txt">Ce site concerne notre projet d'IOC, nous avons pour but de récuperer 
            la valeur lu sur une photoresistance venant d'un esp32.<br>Celui-ci doit transmettre 
            l'information toute les x secondes afin d'avoir les données mise a jour.<br>Par la suite, 
            nous avons voulu ajouter quelque fonctionnalité tel que le controle de la led
            depuis le site (connaitre son état et le modifier), avoir un graphique représentant les valeurs lu de la photoresistance 
            ainsi qu'un historique de toute ces valeurs.</p>
        <p class="footer_txt">Merci a notre professeur, Mr Franck Wajsburt pour cette UE, son investissement et son envie prenante d'enseigner</p>
        <p class="footer_txt">Pour se rendre sur la page de l'UE vous pouvez <a href="https://www-soc.lip6.fr/trac/sesi-peri/">cliquer ici</a></p>
        <p class="footer_txt author"> By Ouersighni Haitham & Amerge Aliocha</p>
    </footer>
</html>