{% load static %}

<html>
    <head>
        <title>Peri Web Server</title>
        <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}"/>
        <script src="static/js/jquery-3.6.0.min.js"></script>
        <script src="static/js/paho-mqtt.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
        <script src="static/js/led.js"></script>
    </head>
    <body>
        <div class="sommaire">
            <img class="su" src="static/Sciences_SU.png" />
            <img class="peri" src= "static/peri.png" />
            <H1 class="titre">Bienvenue sur notre server MQTT</H1>
            <ul class="liste">
                <li class="liste_elem">Vous voulez voir la valeur actuelle de notre photoresistance ? <a href="#actualVal">cliquez ici</a></li>
                <li class="liste_elem">Vous voulez voir si la led est allumer ou bien interagir avec ? <a href="#actualLED">cliquez ici</a></li>
                <li class="liste_elem">Vous voulez voir le graphique représentant les valeurs de la photoresistance ? <a href="#graphique">cliquez ici</a></li>
            </ul>
        </div>    
        
        <div id="actualVal" class="actualVal">
            <h2 class=section_title>PHOTORESISTANCE</h2>
            <div class="actualVal_content">
                <p class="actualVal_txt">Voici la valeur actuelle de notre photoresistance : </p>
                <p id="current_value" class="actualVal_val">{{value}}</p>
            
            </div>
        </div>
        
        <div id="actualLED" class="actualLed">
            <h2 class=section_title>LED</h2>


            <div class="actualLED_section">
                <p class="actualLed_txt">Voici la valeur actuelle de la led : </p>
                <p id="actualLed_val" class="actualLed_val">Off</p>
            </div>
            <script>
                // Initialize a mqtt variable globally
                console.log(mqtt)
            </script>
            <div class="actualLED_section">
                <p class="actualLed_txt">Vous pouvez changer l'état de la led en cliquant ici : </p>
                <label class="switch">
                    <input id="switchLed" type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <form method="post">
                {%csrf_token%}
                <label for="input">Enter command: </label>
                <input id="esp32_input" type="text" name="esp32_input">
                <input type="submit" value="OK">
            </form>
            
        </div>

        <div id="graphique" class="graphique">
            <h2 class=section_title>GRAPHIQUE</h2>
            <p class="graphique_txt">Voici notre graphique représentant l'évolution des valeurs communiqué par notre photorésistance</p>
            
            <script type="text/javascript">
                var element = document.getElementById("current_value")

                window.onload = function () {

                    dps = [];
                    
                    $.getJSON('/data', function(data) {
                        for (let index = 10; index >= 0; index--) {
                            dps.push({x: 10-index, y: data[index].value});
                        }
                    }); 
            
                  var chart = new CanvasJS.Chart("chartContainer",{
                      theme: "light1",
                      title :{
                          text: "Live Data"
                      },
                      axisX: {						
                          title: ""
                      },
                      axisY: {						
                          title: ""
                      },
                      data: [{
                          type: "line",
                          dataPoints : dps,
                          color :"purple"
                      }]
                  });
            
                  chart.render();
                  var xVal = 10 + 1;
                  var yVal = 15;	
                  var updateInterval = 1000;
            
                  var updateChart = function () {

                    $.getJSON('/data', function(data) {

                        dps.push({x: xVal, y: data[0].value});
                        element.innerHTML = data[0].value;

                    }); 
                       
                      xVal++;
                      if (dps.length >  10 )
                      {
                          dps.shift();				
                      }
            
                      chart.render();		
            
                // update chart after specified time. 
            
            };
            
            setInterval(function(){updateChart()}, updateInterval); 
            }
            </script>
            <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
            </head>
            <body>
                <div id="chartContainer" style="height: 300px; width: 100%;">
                </div>
        </div>

    </body>
    
    

    <footer class="footer">
        <p class="footer_txt">Ce site concerne notre projet d'IOC, nous avons pour but de récuperer 
            la valeur lu sur une photoresistance venant d'un esp32.<br>Celui-ci doit transmettre 
            l'information toute les x secondes afin d'avoir les données mise a jour.<br>Par la suite, 
            nous avons voulu ajouter quelque fonctionnalité tel que le controle de la led
            depuis le site (connaitre son état et le modifier), avoir un graphique représentant les valeurs lu de la photoresistance 
            ainsi qu'un historique de toute ces valeurs.</p>
        <p class="footer_txt">Merci a notre professeur, Mr Franck Wajsburt pour cette UE, son investissement et son envie prenante d'enseigner</p>
        <p class="footer_txt">Pour se rendre sur la page de l'UE vous pouvez <a href="https://www-soc.lip6.fr/trac/sesi-peri/">cliquer ici</a></p>
        <p class="footer_txt author"> By Ouersighni Haitham & Amerge Aliocha</p>
    </footer>
</html>
