@font-face {
    font-family: 'agilia';
    src: url('fonts/Agilia.ttf');
}   

.sommaire, .actualVal, .actualLed, .graphique, .bdd{
    padding: 40px;
    border-bottom: 1px solid black;
}
.su{
    width: 250px;
}
.peri{
    float: right;
    width: 155px;
}
.titre{
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
    margin-bottom: 60px;
    margin-top: 40px;
}
.liste{
    border: 2px solid black;
    padding: 20px;
}

.liste_elem{
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 15px;
}:last-child{
    margin-bottom: 0;
}
a{
    color: black;
}
.section_title{
    margin-bottom: 40px;
    text-align: center;
    text-decoration: underline;
}
.actualVal, .actualLed{
    float: left;
    padding: 40px 0 40px 0;
    height: 207px;
    width: 50%;
}
.actualVal_content{
    text-align: center;
}
.actualVal_txt{
    float: left;
    margin-right: 20px;
}
.actualVal_val{
    float: left;
}
.actualLed_section{
    display: inline-block;
}
.actualLed_txt{
    float: left;
    margin-right: 20px;
}
.actualLed_val{
    float: left;
    text-transform: uppercase;
    border: 2px solid black;
    padding: 5px 15px;
    margin-top: 8px;
    font-weight: bold;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;
    top: 10px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ea5bbe;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ea5bbe;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.graphique,.bdd{
    display: flow-root;
}
.graphique_txt, .bdd_txt{
    text-align: center;
}
.footer{
    display: inline-block;
    width: 100%;
    padding: 40px 0;
}
.footer_txt{
    text-align: center;
}

.website{
	border: 2px solid black;
    padding: 5px 10px;
    font-weight: bold;
}
.website:hover{
	background-color: black;
	color: white;
}
.author{
    font-family: 'agilia';
    font-size: 24px;
    margin-top: 60px;
}
