.sommaire, .actualVal, .actualLed, .graphique, .bdd{
    padding: 40px;
    border-bottom: 1px solid black;
}
.su{
    width: 250px;
}
.peri{
    float: right;
    width: 155px;
}
.titre{
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
    margin-bottom: 60px;
    margin-top: 40px;
}
.liste{
    border: 2px solid black;
    padding: 20px;
}

.liste_elem{
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 15px;
}:last-child{
    margin-bottom: 0;
}
a{
    color: black;
}
.section_title{
    margin-bottom: 40px;
    text-align: center;
    text-decoration: underline;
}
.actualVal, .actualLed{
    float: left;
    padding: 40px 0 40px 0;
    height: 207px;
    width: 50%;
}
.actualVal_content{
    text-align: center;
}
.actualVal_txt{
    float: left;
    margin-right: 20px;
}
.actualVal_val{
    float: left;
}
.actualLed_section{
    display: inline-block;
}
.actualLed_txt{
    float: left;
    margin-right: 20px;
}
.actualLed_val{
    float: left;
    margin: 16px;
}
.input_val{
    width: 50px;
}

.graphique,.bdd{
    float: left;
    width: 100%;
}
.graphique_txt, .bdd_txt{
    text-align: center;
}
.footer{
    display: inline-block;
    width: 100%;
    padding: 40px 0;
}
.footer_txt{
    text-align: center;
}
.author{
    font-size: 24px;
}